#how-it-works {
  .list-holder {
    .bg-wrap {
      position: absolute;
      top: -25px;
      left: 25px;
      right: 5px;
    }
  }

  .dashed1 {
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
  }
  
  .dashed2 {
    stroke-dasharray: 5 5;
  }

  .block-header {
    color: rgb(103, 103, 235);
    opacity: 0;
    position: relative;
    top: 40px;
    transition: all .5s linear;
  }

  .services-list {
    opacity: 0;
    position: relative;
    top: 40px;
    transition: all .5s linear;
  }
  
  &.anim-active {
    .block-header,
    .services-list {
      top: 0;
      opacity: 1;
    }

    .dashed1 {
      animation: dash_animation 2.5s linear forwards;
    }
  }
}

@keyframes dash_animation {
	to {
		stroke-dashoffset: 0;
	}
}