#projects {
  overflow: hidden;

  .content-holder {
    margin: 0 -150px;
  }

  .slide {
    padding: 0 20px;
  }

  .slick-list {
    transform: translateX(150px);
    padding: 60px 0;
  }

  .slick-slide {
    &:nth-child(2n) {
      .slide {
        margin-top: -60px;
      }
    }
  }

  .slick-dots {
    button {
      &::before {
        color: white;
        opacity: 1;
        font-size: 10px;
        line-height: 1;
      }
    }

    .slick-active {
      position: relative;


      &::after {
        content: '';
        position: absolute;
        top: -9px;
        left: -3px;
        border: 1px solid white;
        width: 26px;
        height: 26px;
        border-radius: 50%;
      }
    }
  }
  
  .slide-content {
    background: white;
    border-radius: 20px;
    overflow: hidden;

    &:hover {
      .img-holder {
        transform: scale(1.2);
      }
    }

    .img-holder {
      background-size: cover;
      transition: all .2s linear;
    }
  }
}