.second-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 80px 0;
    background-color: #fff;
    /* Adjust the size as needed to match your image */
}


/* Style the image within the container */
.cleaner img {
    width: 100%;
    height: 100%;
    /* You can use "cover" or "contain" depending on your preference */
}

/*  */
.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    transform-origin: center;
    /* Set the rotation origin to the center */

    /* Match the height of the parent container */
    display: flex;
    align-items: center;
    /* Center vertically within the container */
    justify-content: center;
    color: #4c33ca;
}


.text-overlay1 {
    /* Center content horizontally */
    text-align: center;
    /* Center text within the container */
    padding: 20px;
    /* Add padding for spacing */
    font-family: "Times New roman", sans-serif;
    /* Example font family */
    /* Text color */
}


.overlay1-heading {
    font-size: 36px;
    /* Adjust the font size */
    font-weight: bold;
    /* Add font weight */
    /* margin-bottom: 20px; */
    color: #fff;
    /* Text color */
    background-color: #333;

    /* Increase spacing between heading and paragraph */
}

.overlay1-paragraph {
    /* Styles for the paragraph */
    font-size: 24px;
    /* Adjust the font size */
    line-height: 1.5;
    /* Increase line height for readability */
    color: #666;
    /* Text color */
    /* text-align: left; */
}